@import "fonts.scss";
@import "colors.scss";

.mainContainer {
    width: min(80%, 80ch);
    margin: 0 auto;

    a {
        color: $c3;
        text-decoration-thickness: 0.15em;
    }

    p, li {
        line-height: 1.5;
    }

    code {
        font-family: $mono;
        font-size: 1em;
        border-radius: 3px;
        color: $c3;
        padding: 0px 2px;
    }

    p + ul, p + ol {
        margin-top: -1em;
    }
}